.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, 0.01);
  background-image: url('../../public/amazon.jpg');
  background-repeat: repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: animate 15s ease-in-out infinite;
  font-weight: 900;
  padding-bottom: 600px;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.about {
  position: absolute; 
  top: 30%; 
  transform: translateY(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.about p {
  font-size: 24px;
  margin-left: 50px;
}

.redirect {
  position: absolute; 
  top: 45%;
  left: 2.5%; 
  transform: translateY(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 16px;
}

.redirect > a {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.redirect > a:hover {
  background-image:  url('../../public/amazon.jpg');
  background-size: cover;
  color: white;
  font-size: 25px;
}


.redirect > a + a {
  margin-left: 16px;
}


