.page_404 {
  padding: 5% 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
  max-width: 400px; 
  height: auto;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.four_zero_four_bg h1 {
  font-size: 5vw; 
  color: #000000;
}

.four_zero_four_bg h3 {
  font-size: 3vw; 
  color: #000000;
}

.link_404 {
  color: #fff !important;
  padding: 2% 4%; 
  background: #39ac31;
  margin: 4% 0; 
  display: inline-block;
  text-decoration: none;
}

.contant_box_404 {
  margin-top: -15%; 
  color: #000000;
  text-align: center;
}
