.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  margin-bottom: 1rem;
}

.button {
  position: absolute;
  top: -6px;
  right: 0;
}

@media (max-width: 768px) {
  .button {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 1rem;
    text-align: right;
  }
}


.banner {
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .banner {
    max-width: 100%;
  }
}



.sort_select {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(142, 206, 255, 0.929));
  border-radius: 5px;
  width: 13%;
  background-color: rgba(142, 206, 255, 0.929);
}

.sort_select option:checked {
  font-weight: bold;
  font-style: italic;
}

.search {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(142, 206, 255, 0.929));
  border-radius: 5px;
  width: 13%;
}

.search_button {
  height: 33px;
  width: 70px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(142, 206, 255, 0.929));
  border-radius: 5px;
}

.search_button:hover {
  background-image: linear-gradient(to right, rgba(142, 206, 255, 0.929), rgb(255, 255, 255));
}

.delete_button {
  padding: 3px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(253, 2, 2, 0.929));
  border-radius: 5px;
  width: 10%;
  border-radius: 5px;
}

.delete_button:hover {
  background-image: linear-gradient(to right, rgba(253, 2, 2, 0.929), rgb(255, 255, 255));
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sort_select,
  .search {
    width: 100%;
  }

  .search_button {
    width: auto;
  }

  .delete_button {
    width: 100%;
  }
}
