.container {
  display: flex;
  flex-direction: column;
  position: relative; /* Add position relative to the container */
}

.text {
  margin-bottom: 1rem;
}

.button {
  position: absolute;
  top: -6px;
  right: 0;
}

.banner {
  padding-left: 16px;
}

.sort_select {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(142, 206, 255, 0.929));
  border-radius: 5px;
  width: 13%;
  background-color: rgba(142, 206, 255, 0.929);
}

.sort_select option:checked {
  font-weight: bold;
  font-style: italic;
}

.search{
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(142, 206, 255, 0.929));
  border-radius: 5px;
  width: 13%;
}

.search_button{
  height: 33px;
  width: 70px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(142, 206, 255, 0.929));
  border-radius: 5px;

}
.search_button:hover{
  background-image: linear-gradient(to right, rgba(142, 206, 255, 0.929), rgb(255, 255, 255));

}

.delete_button{
  padding: 2px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(253, 2, 2, 0.929));
  border-radius: 5px;
  width: 8%;
  border-radius: 5px;

}

.delete_button:hover{
  background-image: linear-gradient(to right, rgba(253, 2, 2, 0.929), rgb(255, 255, 255));
}