@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap");

:local(h2) {
  color: black;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

a.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.title {
  color: black;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 16px;
}

.text {
  color: black;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 16px;
}

:local(p) {
  color: black;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }

  .text,
  :local(p) {
    font-size: 18px;
  }
}
