@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');

.collect-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px; 
  width: 100%;
  font-size: 100%;
}

.collect-form__input {
  margin: 5% 0;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.collect-form__error {
  margin: 5% 0;
  padding: 5%;
  color: red;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.collect-form__submit {
  margin: 5% 0;
  padding: 5%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  font-size: 80%;
}

.collect-form__submit:hover {
  background-color:#3cdc79;
  text-decoration: underline;
}