.logout-button-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.logout-button {
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 8%;
}

.logout-button:hover {
  font-size: 120%;
  text-decoration: underline;
}