.card {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: white;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-color: rgb(228, 136, 17);
    background-color: rgb(140, 225, 125);

  }