@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px; /* Adjust the value as per your needs */
  width: 100%;
  font-size: 130%;
}

.login-form__input {
  margin: 3% 0;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 75%;
}

.login-form__error {
  margin: 5% 0;
  padding: 5%;
  color: red;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form__submit,
.signup-form__submit {
  margin: 2% 0;
  padding: 2%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 37%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.signup-form__submit {
  text-align: center;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
}

.login-form__submit:hover,
.signup-form__submit:hover {
  text-decoration: underline;
  background-color:#0069d9;
}
